{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<h1 class="my-4">{% trans 'Текущий аватар ' %}  {{ user }}</h1>
<div class="container-sm">
{% if user.avatar %}
<img src="{{user.avatar.url}}" alt="" style="width: auto; height: 100%;">
{% else %}
<p class="text-light">Отстутсвует</p>
{% endif %}
</div>
<form action="." method="post" class="form text-light" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% trans 'Update' %}
      </button>
    {% endbuttons %}
  </form>
{% endblock %}