{% extends 'layout.html' %}
{% block content %}
{% load i18n %}
<style>
  .rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}
</style>
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Книги клуба:</h1>
{% if user.is_staff %}
<a class="nav-link" href="{% url 'book_create' %}">Добавить книгу</a>
{% endif %}
<div class="container">
<table class="table table-striped text-light">
<thead>
  <tr>
    <th>Обложка</th>
    <th>Название</th>
    <th>Автор</th>
    <th>Дата обсуждения</th>
    <th>Рэйтинг</th>
  </tr>
</thead>
<tbody>
    {% for s in books_list %}  
    <tr>
      <td><a href="{% url 'book_detail' pk=s.id %}">
        <img src={{s.get_book_img}} alt="" class="img-fluid img-thumbnail" style="width:auto; height: 100px;">
      </a></td>
      <td>{{s.title}}</td>
      <td>{{s.author}}</td>
      <td>{{ s.created_at }}</td>
      <td>
        <div class="rating-mini">
        {% for i in s.get_yellow_stars %}
          <span class="active"></span>
        {% endfor %}	 
        {% for i in s.get_blank_stars %}
          <span></span>
        {% endfor %}
        </div>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
  </div>
{% endblock %}