
{% extends 'layout.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="row text-light">
  <div class="col">
    <img src="/media/photo1669371932.png" alt="" style="width: auto; height: 300px;" class="rounded-circle">
  </div>
  <div class="col">
    <h5>О клубе</h5>
    <p>
      Читать книги - одно из приятных и полезных удовольствий в нашей жизни. И если вы хотите поделиться своими чувствами и мыслями о прочитанном, обсудить поставленные в книге вопросы "жизни, вселенной и всего такого" или просто поговорить о литературе, то приглашаю в наш Книжный клуб. 

      Мы собираемся раз в месяц в уютном баре, пьем чай, обсуждаем книгу месяца и книги вообще. Делимся прочитанным и увиденным. Если тебе по душе такое, приходи и ты. Ждем тебя.
    </p>
    <p>
      P.S. Не забудь записаться на встречу😊
    </p>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
      {% if meeting %}
      {% include 'meeting.html' %}
      {% else %}
      <div class="card">
        <div class="card-header">
            <h5 class="px-2">Следующая встреча</h5>
        </div>
        <div class="card-body bg-secondary"> 
          Встреча пока не запланирована, следите за нашими соцсетями.
        </div>
      </div>  
      {% endif %}
    </div>
    <div class="col-md-6">
      {% if not user.is_authenticated %}
      {% include 'front_register.html' %}
      {% else %}
      <div class="card">
        <div class="card-header">
          <h5>Последний отзыв на книги:</h5>
        </div>
        <div class="card-body bg-secondary">
          <h6>Книга: 
            <a href="">
              {{article.book}}
            </a>
          </h6>
          <h6>Автор: {{ article.author }}</h6>
          <hr>
          <p>{{article.text}}</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endblock %}