
{% extends 'layout.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="row text-light">
  <div class="col">
    <img src="/media/photo1669371932.png" alt="" style="width: auto; height: 300px;">
  </div>
  <div class="col">
    <h5>О клубе</h5>
    <p>
      Читать книги - одно из приятных и полезных удовольствий в нашей жизни. И если вы хотите поделиться своими чувствами и мыслями о прочитанном, обсудить поставленные в книге вопросы "жизни, вселенной и всего такого" или просто поговорить о литературе, то приглашаю в наш Книжный клуб. 

      Мы собираемся раз в месяц в уютном баре, пьем чай, обсуждаем книгу месяца и книги вообще. Делимся прочитанным и увиденным. Если тебе по душе такое, приходи и ты. Ждем тебя.
    </p>
    <p>
      P.S. Не забудь записаться на встречу😊
    </p>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
      {% include 'meeting.html' %}
    </div>
    <div class="col-md-6">
      {% include 'front_register.html' %}
    </div>
  </div>
  {% endblock %}