<div class="card">
    <div class="card-header">
        <h5 class="px-2">Следующая встреча</h5>
    </div>
    <div class="card-body bg-secondary">
        <p>{{meeting[0].date}}</p>
        <p>{{meeting[0].book}}</p>
        <p>{{meeting[0].place}}</p>
        <hr>
        <h5>Участники:</h5>
        {% if meeting[0].get_people %}
        <ul>
            {% for p in meeting[0].get_people %}
            <li>{{p}}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Пока никто не записался :(</p>
        {% endif %}
        {% if user.is_authenticated %}
        <form action="{% url 'add_login_meeting_member' %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn-primary" value="Записаться">
        </form>
        {% endif %}
    </div>
</div>