{% extends 'layout.html' %}
{% block content %}
{% load i18n %}
<div class="container wrapper flex-grow-1 text-light">
    <h1 class="my-4">Участники</h1>    
<table class="table table-striped text-light">
<thead>
  <tr>
    <th>Ник</th>
    <th>Полное Имя</th>
    <th>telegram</th>
    <th>Дата вступления</th>
    <th></th>
  </tr>
</thead>
<tbody>
    {% for u in users_list %}  
    <tr>
      <td>{{ u.username }}</td>
      <td>{{ u }}</td>
      <td><a href="https://t.me/{{u.telegram}}">{{ u.telegram }}</a></td>
      <td>{{ u.date_joined }}</td>
      <td>
        {% if u.avatar %}
        <img src="{{u.avatar.url}}" class="rounded-square" style="width: auto; height: 70px;" alt="">
        {% else %}
        <img src="" alt="">
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}